<html>
    <title>Authorization</title>
    <style>
        body{
            position: absolute;
            top: 30%;
            left: 40%;
            background-color: azure;
            text-align: center;
        }
    </style>
    <body>
        <form action="/login" method="POST">
            Username <input type="text" name="username"><br><br>
            Password <input type="password" name="password"><br><br>
            <input type="submit" value = "Login">
        </form>
    </body>
</html>